#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.meme {
  position: absolute;
  margin-top: 55px;
  left: 340px;
  text-shadow: 2px 0 rgb(31 29 29 / 87%), -2px 0 #1f1c1c, 0 2px #252121, 0 -2px #181818, 1px 1px #2d2929, -1px -1px #2d2929, 1px -1px #2f2b2b, -1px 1px #292525;
  font-size: 51px;
  color: white;
}


.mema1 {
  position: absolute;
  margin-top: -79px;
  left: 350px;
  text-shadow: 2px 0 rgb(31 29 29 / 87%), -2px 0 #1f1c1c, 0 2px #252121, 0 -2px #181818, 1px 1px #2d2929, -1px -1px #2d2929, 1px -1px #2f2b2b, -1px 1px #292525;
  font-size: 51px;
  color: white;
}

body, .broma {
  background: black;
}